:root {
    --Solitude: #eeeff1;
}

.pointer {
    cursor: pointer;
}

/* .main {
    margin-top: 64px;
    background-color: var(--Solitude);
    height: calc(100vh - 64px);
    padding: 0 24px;
} */
